{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "ecmascript",
      "jsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      },
      "legacyDecorator": false,
      "decoratorMetadata": false
    },
    "externalHelpers": false,
    "keepClassNames": false,
    "baseUrl": null,
    "paths": {},
    "loose": false
  },
  "module": {
    "type": "es6",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "minify": true
}

